* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
}

header {
	background-color: #19BB9B;
	display: flex;
	justify-content: center;
	height: 10%;
	width: 100%;
}
header img {
	position: relative;
	height: 50%;
	top: 50%;
	transform: translate(0, -50%);
}

main {
	background-color: #FF0000;
}
#main_head {
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 35%;
	border: 1px solid #FF0000;
}
#main_head img {
	position: relative;
	height: 75%;
	width: 90%;
	top: 50%;
	transform: translate(0, -50%);
}

footer {
	background-color: #000000;
}